<?xml version="1.0"?>

<model>
  <name>iahs</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Yih-Chyuan (Eech) Hsiao</name>
    <email>hsiaoy4@mcmaster.ca</email>
  </author>

  <description>
    Model of the Institue of Applied Health Sciences Building
  </description>
</model>
