<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="vehicle"/>

  <include file="$(find vehicle_description)/launch/vehicle.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!-- Read Joint Positions from a GUI; Publish to Join State -->
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher" ns="$(arg namespace)">
    <param name="rate" value="30"/>
    <param name="use_gui" value="true"/>
  </node>

  <include file="$(find vehicle_description)/launch/rviz.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
</launch>
